.vaccination-by-age-container {
  width: 800px;
  background-color: #1c1c2b;
  padding: 3% 10%;
  margin-bottom: 20px;
}
.component-title {
  font-size: 26px;
  padding-left: 16px;
  color: #cbd5e1;
}
